.keyboard{
  width: calc(var(--keyboard_w)*var(--k)); /* 740 */
  height: calc(var(--keyboard_h)*var(--k));
  display: grid;
  grid-template-columns: repeat(84, 1fr);
  /*grid-template-columns: repeat(74, 1fr);*/
  grid-template-rows: repeat(6, 1fr);
  /*grid-template-rows: 240px 1fr 260px;*/
  grid-template-areas: 
   	"_27 _27 _27 _27 . _112 _112 _112 _112 . _113 _113 _113 _113 . _114 _114 _114 _114 . _115 _115 _115 _115 . _116 _116 _116 _116 . _117 _117 _117 _117 . _118 _118 _118 _118 . _119 _119 _119 _119 . _120 _120 _120 _120 . _121 _121 _121 _121 . _122 _122 _122 _122 . _123 _123 _123 _123 . _19 _19 _19 _19 . . . . . . . . . . . . . . ."
  	"_192 _192 _192 _192 . _49 _49 _49 _49 . _50 _50 _50 _50 . _51 _51 _51 _51 . _52 _52 _52 _52 . _53 _53 _53 _53 . _54 _54 _54 _54 . _55 _55 _55 _55 . _56 _56 _56 _56 . _57 _57 _57 _57 . _48 _48 _48 _48 . _189 _189 _189 _189 . _187 _187 _187 _187 . _8 _8 _8 _8 _8 _8 _8 _8 _8 . _45 _45 _45 _45 . _36 _36 _36 _36"
  	"_9 _9 _9 _9 _9 _9 . _81 _81 _81 _81 . _87 _87 _87 _87 . _69 _69 _69 _69 . _82 _82 _82 _82 . _84 _84 _84 _84 . _89 _89 _89 _89 . _85 _85 _85 _85 . _73 _73 _73 _73 . _79 _79 _79 _79 . _80 _80 _80 _80 . _219 _219 _219 _219 . _221 _221 _221 _221 . _220 _220 _220 _220 _220 _220 _220 . _46 _46 _46 _46 . _35 _35 _35 _35"
  	"_20 _20 _20 _20 _20 _20 _20 _20 _20 . _65 _65 _65 _65 . _83 _83 _83 _83 . _68 _68 _68 _68 . _70 _70 _70 _70 . _71 _71 _71 _71 . _72 _72 _72 _72 . _74 _74 _74 _74 . _75 _75 _75 _75 . _76 _76 _76 _76 . _186 _186 _186 _186 . _222 _222 _222 _222 . _13 _13 _13 _13 _13 _13 _13 _13 _13 . _33 _33 _33 _33 . _34 _34 _34 _34"
  	"_161 _161 _161 _161 _161 _161 _161 _161 _161 _161 _161 _161 . _90 _90 _90 _90 . _88 _88 _88 _88 . _67 _67 _67 _67 . _86 _86 _86 _86 . _66 _66 _66 _66 . _78 _78 _78 _78 . _77 _77 _77 _77 . _188 _188 _188 _188 . _190 _190 _190 _190 . _191 _191 _191 _191 . _162 _162 _162 _162 _162 _162 _162 _162 _162 _162 _162 . _38 _38 _38 _38 . . . . ."
    "_171 _171 _171 _171 _171 _171 . . _91 _91 _91 _91 . _181 _181 _181 _181 _181 _181 . _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 _32 . _182 _182 _182 _182 _182 _182 . _92 _92 _92 _92 . _93 _93 _93 _93 . _172 _172 _172 _172 _172 _172 . _37 _37 _37 _37 . _40 _40 _40 _40 . _39 _39 _39 _39";
  grid-row-gap: 5px;
  grid-column-gap: 0px;

  background-color: var(--b0);
	/*color: black;*/
}

/* ------------------ */
.button, .button_press{
  /* размеры кнопок */
  /*width: calc(var(--button_w)*4);
  height: calc(var(--button_h)*4);*/
  /* границы */
  border: 2px solid var(--b1);
  border-radius: 5px;

  font-size: var(--button_font);

  padding-top: var(--button_pad);
  padding-left: var(--button_pad);



}

.button {
  background-color: var(--b0);
  color: var(--b1);

  position: relative;
  /* Параметры тени */
  /*box-shadow: 0 0 10px rgba(0,0,0,0.25);*/
}
.button_press{
  background-color: var(--b1);
  color: var(--b0);

  position: relative;
}

.button_label1, .button_label2, .button_label3, .button_label4 {
  position: absolute;
}
.button_label5{
  position: relative;
}

.button_label1{
 left: var(--label_pad_x);
 top: var(--label_pad_y);
}
.button_label2{
 right: var(--label_pad_x);
 top: var(--label_pad_y)
}

.button_label3{
 left: var(--label_pad_x);
 bottom: var(--label_pad_y);
}
.button_label4{
 right: var(--label_pad_x);
 bottom: var(--label_pad_y);
}
.button_label5{
 text-align: center;
 margin-left: calc(var(--label_pad_x)/(-1));
 top: calc(var(--label_pad_y)*3);
}

/*-----------------*/



.button:hover{
  cursor: pointer;
}


/*
.button, .button_press{

  border: 2px solid black;
  border-radius: 5px;

  font-size: var(--button);

  padding-top: 5px;
  padding-left: 5px;
}


.button{
  background-color: var(--b0);
  color: var(--b1);
}

.button_press{
  background-color: var(--b1);
  color: var(--b0);
}

*/

#backspace{
grid-area: _8;
}
#tab{
grid-area: _9;
}
#enter{
grid-area: _13;
}
#lshift{
grid-area: _161;
}
#rshift{
grid-area: _162;
}
#lctrl{
grid-area: _171;
}
#rctrl{
grid-area: _172;
}
#lalt{
grid-area: _181;
}
#ralt{
grid-area: _182;
}
#pause_break{
grid-area: _19;
}
#caps_lock{
grid-area: _20;
}
#escape{
grid-area: _27;
}
#spacebar{
grid-area: _32;
}
#page_up{
grid-area: _33;
}
#page_down{
grid-area: _34;
}
#end{
grid-area: _35;
}
#home{
grid-area: _36;
}
#left_arrow{
grid-area: _37;
}
#up_arrow{
grid-area: _38;
}
#right_arrow{
grid-area: _39;
}
#down_arrow{
grid-area: _40;
}
#insert{
grid-area: _45;
}
#delete{
grid-area: _46;
}
#n0{
grid-area: _48;
}
#n1{
grid-area: _49;
}
#n2{
grid-area: _50;
}
#n3{
grid-area: _51;
}
#n4{
grid-area: _52;
}
#n5{
grid-area: _53;
}
#n6{
grid-area: _54;
}
#n7{
grid-area: _55;
}
#n8{
grid-area: _56;
}
#n9{
grid-area: _57;
}
#a{
grid-area: _65;
}
#b{
grid-area: _66;
}
#c{
grid-area: _67;
}
#d{
grid-area: _68;
}
#e{
grid-area: _69;
}
#f{
grid-area: _70;
}
#g{
grid-area: _71;
}
#h{
grid-area: _72;
}
#i{
grid-area: _73;
}
#j{
grid-area: _74;
}
#k{
grid-area: _75;
}
#l{
grid-area: _76;
}
#m{
grid-area: _77;
}
#n{
grid-area: _78;
}
#o{
grid-area: _79;
}
#p{
grid-area: _80;
}
#q{
grid-area: _81;
}
#r{
grid-area: _82;
}
#s{
grid-area: _83;
}
#t{
grid-area: _84;
}
#u{
grid-area: _85;
}
#v{
grid-area: _86;
}
#w{
grid-area: _87;
}
#x{
grid-area: _88;
}
#y{
grid-area: _89;
}
#z{
grid-area: _90;
}
#left_window{
grid-area: _91;
}
#right_window{
grid-area: _92;
}
#select{
grid-area: _93;
}
#numpad_0{
grid-area: _96;
}
#numpad_1{
grid-area: _97;
}
#numpad_2{
grid-area: _98;
}
#numpad_3{
grid-area: _99;
}
#numpad_4{
grid-area: _100;
}
#numpad_5{
grid-area: _101;
}
#numpad_6{
grid-area: _102;
}
#numpad_7{
grid-area: _103;
}
#numpad_8{
grid-area: _104;
}
#numpad_9{
grid-area: _105;
}
#multiply{
grid-area: _106;
}
#add{
grid-area: _107;
}
#subtrack{
grid-area: _109;
}
#decimal_point{
grid-area: _110;
}
#divide{
grid-area: _111;
}
#f1{
grid-area: _112;
}
#f2{
grid-area: _113;
}
#f3{
grid-area: _114;
}
#f4{
grid-area: _115;
}
#f5{
grid-area: _116;
}
#f6{
grid-area: _117;
}
#f7{
grid-area: _118;
}
#f8{
grid-area: _119;
}
#f9{
grid-area: _120;
}
#f10{
grid-area: _121;
}
#f11{
grid-area: _122;
}
#f12{
grid-area: _123;
}
#num_lock{
grid-area: _144;
}
#scroll_lock{
grid-area: _145;
}
#semi-colon{
grid-area: _186;
}
#equal_sign{
grid-area: _187;
}
#comma{
grid-area: _188;
}
#dash{
grid-area: _189;
}
#period{
grid-area: _190;
}
#forward_slash{
grid-area: _191;
}
#grave_accent{
grid-area: _192;
}
#open_bracket{
grid-area: _219;
}
#back_slash{
grid-area: _220;
}
#close_bracket{
grid-area: _221;
}
#single_quote{
grid-area: _222;
}