:root{
	--color0: #ffee99;
  --color1: #ccffff;
  --color2: #ffccff;
  --color3: #9999ff;

  --b0: #ffffff;
  --b1: #555555;
  --b2: #777777;
	--k: 1.0;

  /* конфигурация кнопок */
  --button_font: 12px;
  --button_w: 5px;
  --button_h: 7px;
  --button_pad: 5px;
  --label_pad_x: 4px; /* 10% */
  --label_pad_y: 1px;

  /*--button: 14px; */

  /*
  --keyboard_w: 630px;
  --keyboard_h: 250px;
  */
  /*
  --keyboard_w: 756px;
  --keyboard_h: 250px;
  */
  --keyboard_w: 700px;
  --keyboard_h: 275px;*/
 }
 
.res{
	margin-top: 50%;
}